/* ===========================
   AUTH PAGES
=========================== */

.auth-section{
    min-height:100vh;
    display:flex;
    align-items:center;
    padding:60px 0;
}

.auth-card{
    background:#fff;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 20px 60px rgba(0,0,0,.12);
}

.auth-image{
    background:
        linear-gradient(rgba(78,52,46,.45),rgba(78,52,46,.45)),
        url("../images/auth/register.jpg");
    background-size:cover;
    background-position:center;
    min-height:720px;
    position:relative;
}

.overlay{
    position:absolute;
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    padding:60px;
    color:#fff;
}

.overlay h1{
    font-size:52px;
    font-weight:700;
    margin-bottom:10px;
}

.overlay p{
    font-size:20px;
    opacity:.95;
}

.auth-card h2{
    color:#4E342E;
}

.auth-card .form-control{
    border-radius:12px;
    padding:14px;
}

.auth-card textarea{
    resize:none;
}

.auth-card .btn-warning{
    border-radius:14px;
    font-size:18px;
    font-weight:600;
    padding:14px;
}

.auth-card a{
    color:#4E342E;
    font-weight:600;
    text-decoration:none;
}

.auth-card a:hover{
    color:#D4A373;
}

@media(max-width:991px){

    .auth-image{
        min-height:300px;
    }

    .overlay{
        padding:30px;
    }

    .overlay h1{
        font-size:36px;
    }

}
/* ===========================
   LOGIN PAGE
=========================== */

.login-image{

    background:
        linear-gradient(rgba(78,52,46,.45),
        rgba(78,52,46,.45)),
        url("../images/auth/login.jpg");

    background-size:cover;

    background-position:center;

    min-height:720px;

    position:relative;

}

.auth-logo img{

    width:75px;

    height:75px;

    object-fit:cover;

    border-radius:50%;

    margin-bottom:15px;

}